body {
    background-color:black;
    color:#f3f7ee;
}
#writeLine {
background-color:#102640;
padding-top:3px;
padding-left:10px;
}
#write {
background-color:#102640;
padding-top:3px;
padding-left:10px;
}
